.selector-for-some-widget {
    box-sizing: content-box;
}

#main {
    background-color: #526D82;
}

#menu {
    margin-block-end: 5px;
}

#menu h1 {
    text-align: center;
    color: #64CCC5;
}

#menu {
    background-color: #27374D;
}


#intro h1 {
    text-align: left;
    color: #64CCC5;
}

#intro h2 {
    text-align: left;
    color: #64CCC5;
}

#etapas h3 {
    text-align: left;
    color: #64CCC5;
}

#etapas h4 {
    color: #64CCC5;
}

#etapas h5 {
    color: #64CCC5;
}

#etapas h6 {
    color: #64CCC5;
}

.lista li span {
    color: #64CCC5;
}

.img {
    box-align: center;
    display: block;
}